/* TABULEIRO DO GAME */

#game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-height: 800px;
  width: 100%;
  flex-grow: 1;
}

#container-jogo {
  /* Alinhamento e afins */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  position: relative;
  width: 80%;
  max-width: 450px;
  margin: auto;
  aspect-ratio: 1/1;
}

.box {
  /* Alinhamento e afins */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* Estilização */
  border: 5px solid var(--cor-primária);
}

#block-1,
#block-2,
#block-3 {
  /* Alinhamento e afins */
  border-top-color: transparent;
}

#block-1,
#block-4,
#block-7 {
  /* Alinhamento e afins */
  border-left-color: transparent;
}

#block-7,
#block-8,
#block-9 {
  /* Alinhamento e afins */
  border-bottom-color: transparent;
}

#block-3,
#block-6,
#block-9 {
  /* Alinhamento e afins */
  border-right-color: transparent;
}
